@model IEnumerable<Project_Store.Models.buy_supplier>

@{
    ViewBag.Title = "Index";
}

<h2>Compras Proveedor</h2>
<p>
    <a class="black-text" href='@Url.Action("Create", "buy_supplier")'><i class="material-icons icon medium">account_balance</i></a>
</p>
<table class="striped">
    <tr>
        <th>
            Fecha
        </th>
        <th>
            Cantidad
        </th>
        <th>
            Valor Unitario
        </th>
        <th>
            Total
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.quantity)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.unit_value)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.total)
    </td>
    <td>
        <a class="black-text" href='@Url.Action("Edit", "buy_supplier", new { id = item.id })'><i class="material-icons">edit</i></a>
    </td>
    <td>|</td>
    <td>
        <a class="black-text" href='@Url.Action("Delete", "buy_supplier", new { id = item.id })'><i class="material-icons">delete</i></a>
    </td>
</tr>
}

</table>
