<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - XJA Store</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/materialize.js"></script>
    <script src="~/Scripts/materialize.min.js"></script>
    <script src="~/Scripts/General.js"></script>
    <link href="~/Content/materialize.css" rel="stylesheet" />
    <link href="~/Content/materialize.min.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="nav">
            <a href="" class="brand-logo ">

                <img src="~/Content/StyleIcons/principal.jpg" />
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="">@Html.ActionLink("Home", "Index", "Home")</a></li>
                <li><a href="">@Html.ActionLink("Citas", "Index", "appointments")</a></li>
                <li><a href="">@Html.ActionLink("Compras Provedores", "Index", "buy_supplier")</a></li>
                <li><a href="">@Html.ActionLink("Clientes", "Index", "customers")</a></li>
                <li><a href="">@Html.ActionLink("Productos", "Index", "products")</a></li>
                <li><a href="">@Html.ActionLink("Reservaciones", "Index", "reservations")</a></li>
                <li><a href="">@Html.ActionLink("Vendedores", "Index", "sellers")</a></li>
                <li><a href="">@Html.ActionLink("Proveedores", "Index", "suppliers")</a></li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    @*<div class="col l6 s12">*@
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="">@Html.ActionLink("Citas", "Index", "appointments")</a></li>
                        <li><a href="">@Html.ActionLink("Compras Provedores", "Index", "buy_supplier")</a></li>
                        <li><a href="">@Html.ActionLink("Clientes", "Index", "customers")</a></li>
                        <li><a href="">@Html.ActionLink("Productos", "Index", "products")</a></li>
                        <li><a href="">@Html.ActionLink("Reservaciones", "Index", "reservations")</a></li>
                        <li><a href="">@Html.ActionLink("Vendedores", "Index", "sellers")</a></li>
                        <li><a href="">@Html.ActionLink("Proveedores", "Index", "suppliers")</a></li>
                        @*</div>*@
                    </ul>
                    <div class="horizontal">
                        <div class="col l6 s6 center">
                            <br />
                            <br />
                            <br />
                            <img src="~/Content/StyleIcons/principal.jpg" />
                            <br />
                            <img src="~/Content/StyleIcons/gmail.png" />
                            <img src="~/Content/StyleIcons/facebook (1).png" />
                            <img src="~/Content/StyleIcons/gorjeo (1).png" />
                            <img src="~/Content/StyleIcons/instagram (1).png" />
                        </div>
                    </div>
                </div>

                <div class="footer-copyright">
                    <div class="container">
                        © 2014 XJA Store
                        <a class="grey-text text-lighten-4 right" href="#!">Mas XJA Store</a>
                    </div>
                </div>
        </footer>



        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET XJA Sore </p>
        </footer>
    </div>


</body>
</html>
