@model IEnumerable<Project_Store.Models.product>

@{
    ViewBag.Title = "Index";
}

<h2>Producto</h2>

<p>
    <a class="black-text" href='@Url.Action("Create", "products")'><i class="material-icons icon medium">beach_access</i></a>
</p>
<table class="striped">
    <tr>
        <th>
            Codigo
        </th>
        <th>
            Nombre
        </th>
        <th>
            Descripcion
        </th>
        <th>
            Stock
        </th>
        <th>
            Precio
        </th>
        <th>
            Foto
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.code_product)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.stock)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.price)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.photo)
    </td>
    <td>
        <a class="black-text" href='@Url.Action("Edit", "products", new { id = item.id })'><i class="material-icons">edit</i></a>
    </td>
    <td>|</td>
    <td>
        <a class="black-text" href='@Url.Action("Delete", "products", new { id = item.id })'><i class="material-icons">delete</i></a>
    </td>
</tr>
}

</table>
