@model IEnumerable<Project_Store.Models.customer>

@{
    ViewBag.Title = "Index";
}

<h2>Cliente</h2>
<p>
    <a class="black-text" href='@Url.Action("Create", "customers")'><i class="material-icons icon medium">person_add</i></a>
</p>
<table class="striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.identification_type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.document_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.last_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.photo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.identification_type)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.document_number)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.last_name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.address)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.phone)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.city)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.photo)
    </td>
    <td>
        <a class="black-text" href='@Url.Action("Edit", "customers", new { id = item.id })'><i class="material-icons">edit</i></a>
    </td>
    <td>|</td>
    <td>
        <a class="black-text" href='@Url.Action("Delete", "customers", new { id = item.id })'><i class="material-icons">delete</i></a>
    </td>
</tr>
}

</table>
