@model IEnumerable<Project_Store.Models.reservation>

@{
    ViewBag.Title = "Index";
}

<h2>Reservacion</h2>

<p>
    <a class="black-text" href='@Url.Action("Create", "reservations")'><i class="material-icons icon medium">assignment</i></a>
</p>
<table class="striped">
    <tr>
        <th>
            Fecha
        </th>
        <th>
            Cantidad
        </th>
        <th>
            Valor
        </th>
        <th>
            Total
        </th>
        <th>
            Tipo de Reserva
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.unit_value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                <a class="black-text" href='@Url.Action("Edit", "reservations", new { id = item.id })'><i class="material-icons">edit</i></a>
            </td>
            <td>|</td>
            <td>
                <a class="black-text" href='@Url.Action("Delete", "reservations", new { id = item.id })'><i class="material-icons">delete</i></a>
            </td>
        </tr>
    }

</table>
