@model IEnumerable<Project_Store.Models.supplier>

@{
    ViewBag.Title = "Index";
}

<h2>Proveedor</h2>

<p>
    <a class="black-text" href='@Url.Action("Create", "suppliers")'><i class="material-icons icon medium">person_add</i></a>
</p>
<table class="striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dni)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.business_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.dni)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.business_name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.address)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.phone)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.email)
    </td>
    <td>
        <a class="black-text" href='@Url.Action("Edit", "suppliers", new { id = item.id })'><i class="material-icons">edit</i></a>
    </td>
    <td>|</td>
    <td>
        <a class="black-text" href='@Url.Action("Delete", "suppliers", new { id = item.id })'><i class="material-icons">delete</i></a>
    </td>
</tr>
}

</table>
